body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #059c02;

  display: flex;
  justify-content: center;
}

h1 {
  font-size: 30px;
}

h3 {
  margin: 25px 0;
  font-size: 26px;
}
